*{
    font-family: 'Roboto Mono', monospace;
    color: white;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(bg.jpg);
    
}

#calc{
    width: 350px;
    font-size: 1.5em;
    background-color: #6A4B7F;
    border-radius: 50px;
    box-shadow: 5px 5px 20px black;
}

#display{
    background-color: #7F5D95;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#display-current, #display-previous{
    height: 2em;
    font-size: 2em;
    overflow-y: hidden;
}

#display-previous{
    font-size: 1em;
}

key{
    display: flex;
    height: 2.5em;
    width: 2.5em;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0.3em 0;
}

.func, .op{
    background-color: #B08FC5;
    color: #0E0E0E;
}

.num{
    background-color: #333333;
}

.zero{
    width: 6em;
    border-radius: 50px;
}

.res{
    background-color: #509391;
}