*{
    /border: 1px solid black;
}

#calc-body{
    width: 350px;
    font-size: 1.5em;
}

#display-current, #display-previous{
    height: 2em;
    font-size: 2em;
    overflow-y: hidden;
}

#display-previous{
    font-size: 0.8em;
}

.calc-btn{
    height: 3em;
    border: 1px solid white;
}

.calc-btn:hover{
    box-shadow: 0px 0px 5px black;
}